<article class="entry" *ngIf="resultItemType===5">
  <div class="entry-header">
    <b class="header-date">{{resultItem.Datum}}</b>
  </div>
  <div class="entry-details">
    <div class="details-area">
      <div class="details-item">
        <div class="item-info">
          <span class="info-title">Wind</span>
          <br>
          <span>{{resultItem.Wind}} km/h</span>
        </div>
        <figure class="item-img">
          <img src="../../../assets/images/dashboard/wind.png" alt="wind">
        </figure>
      </div>
      <div class="details-item">
        <div class="item-info">
          <span class="info-title">Temperature</span>
          <br>
          <span>{{resultItem.Temp_A}} °C</span>
        </div>
        <figure class="item-img">
          <img src="../../../assets/images/dashboard/temperature.png" alt="temperature">
        </figure>
      </div>
    </div>
    <div class="details-area">
      <div class="details-item">
        <div class="item-info">
          <span class="info-title">Feuchte</span>
          <br>
          <span>{{resultItem.Feuchte_A}} %</span>
        </div>
        <figure class="item-img">
          <img src="../../../assets/images/dashboard/humidity.png" alt="humidity">
        </figure>
      </div>
      <div class="details-item">
        <div class="item-info">
          <span class="info-title">Luftdruck</span>
          <br>
          <span>{{resultItem.Luftdruck}} mb</span>
        </div>
        <figure class="item-img">
          <img src="../../../assets/images/dashboard/pressure.png" alt="pressure">
        </figure>
      </div>
    </div>
  </div>
</article>

<article class="entry" *ngIf="resultItemType===10">
    <a class="entry-link" [href]="resultItem.link" target="_blank">
      <div class="entry-target">
        <img class="entry-avatar" [src]="resultItem.owner.profile_image" [alt]="resultItem.owner.display_name">
        <p class="entry-question">{{htmlDecode(resultItem.title)}}</p>
      </div>
    </a>
    <div>
      <div class="views-info">
        <figure class="entry-views">
          {{resultItem.view_count}}
          <img src="../../../assets/images/dashboard/views.png" alt="views">
        </figure>  
        <b class="entry-date">{{creationDate}}</b>
      </div>
      <ul class="entry-tags">
        <li *ngFor="let tag of resultItem.tags">{{tag}}</li>
      </ul>
    </div>
</article>