@import '../../../assets/sass/modules/mixins';
@import '../../../assets/sass/modules/variables';

.entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    min-width: 250px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    background: $white;
    @include border-radius;
    @include box-shadow(0px, 0px, 5px, 0.25);
    @include scale(1.0);
    @include transition(all, linear, 0.1s); 
    
    &:hover {
        @include scale(1.01);
        @include box-shadow(0px, 0px, 5px, 0.15);
    }

    &-header {
        position: relative;
        padding-bottom: 10px;

        .header-date {
            font-size: 20px;
        }
    }

    .details-area {
        display: flex;
        border-top: 1px solid $blue-bayoux;

        .details-item {
            display: flex;
            justify-content: space-between;
            width: 50%;
            min-height: 40px;
            padding: 5px;


            &:nth-child(2n) {
                border-left: 1px solid $blue-bayoux;
            }

            .item-img {
                img {
                    width: 30px;
                }
            }

            .info-title {
                font-size: 12px;
            }
        }
    }

    &-link {
        display: block;
        color: inherit;
    }

    &-target {
        display: flex;
    }

    &-avatar {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    &-question {
        word-wrap: break-word;
        font-size: 14px;
        font-weight: 600;
    }

    .views-info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-views {
        img {
            width: 20px;
        }
    }

    &-tags {
        list-style: none;

        li {
            position: relative;
            padding: 1px 1px 1px 12px;
            display: inline-block;
            margin-right: 5px;
            font-size: 12px;
            border: 1px solid $bluewood;
            background-color: $orange-light; 
            @include border-radius(20px);

            &::before {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                top: 5px;
                left: 0;
                display: block;
                background-image: url('/../src/assets/images/dashboard/tag.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

}   
