@import '../../../assets/sass/modules/mixins';
@import '../../../assets/sass/modules/variables';

.entry {
    min-height: 150px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px 5px 20px 5px;
    background: $white;
    cursor: pointer;
    @include border-radius;
    @include box-shadow(0px, 0px, 5px, 0.25);
    @include scale(1.0);
    @include transition(all, linear, 0.1s); 

    &-header {
        position: relative;
        padding-bottom: 10px;

        .header-date {
            font-size: 20px;
        }
    }

    .details-area {
        display: flex;
        border-top: 1px solid $blue-bayoux;

        .details-item {
            display: flex;
            justify-content: space-between;
            width: 50%;
            min-height: 40px;
            padding: 5px;


            &:nth-child(2n) {
                border-left: 1px solid $blue-bayoux;
            }

            .item-img {
                img {
                    width: 30px;
                }
            }

            .info-title {
                font-size: 12px;
            }
        }
    }

    &-target {
        display: flex;
    }

    &-link {
        display: block;
        color: inherit;
        min-height: 150px;
    }

    &-avatar {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    &-question {
        word-wrap: break-word;
        font-weight: 600;
    }

    &-date {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    &-views {
        position: absolute;
        bottom: 5px;
        left: 5px;

        img {
            width: 20px;
        }
    }

    &:hover {
        @include scale(1.01);
    }
}   
