@import '../../../assets/sass/modules/variables';

.container-wrapper {
    display: inline-block;
    vertical-align: top;

    @media(max-width: $screen-md-max) {
        width: 100%;
        margin: 0 auto;
    }

    @media(min-width: $screen-md-max) {
        width: calc(100% / 3 - 3px);
    }
}

.info {
    &-entries {
        padding-top: 40px;
    }
}

h2 {
    display: inline-block;
    font-size: 20px;
}

.update-bell {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;

    span {
        color: $red;

        &.green {
            color: $green;
        }
    }
}

