@import '../../../assets/sass/modules/variables';

.info {
    &-container {
        display: inline-block;
        vertical-align: top;
        position: relative;

        @media(max-width: $screen-md-max) {
            width: 100%;
            margin: 0 auto;
        }

        @media(min-width: $screen-md-max) {
            width: calc(100% / 3 - 3px);
        }
    }

    @media(max-width: $screen-md-max) {
        margin: 0 auto;
    }

    &-entries {
        padding-top: 40px;
    }
}

h2 {
    display: inline-block;
    font-size: 20px;
}

.update-bell {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;

    span {
        color: $red;

        &.green {
            color: $green;
        }
    }
}

